.track-container {
  background: $grey;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  height: 7px;
  width: 700px;
  @include media("<=768px") {
    width: 500px;
  }
  @include media("<=600px") {
    width: 300px;
  }
  @include media("<=300px") {
    width: 180px;
  }
}
.track-bar {
  background-color: $blue;
  border-radius: 4px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
.track-range {
  width: 100%;
  display: none;
}
.track-time {
  margin-top: 10px;
  font-size: 0.9rem;
  @include flex($justify: space-between);
}
