$black: hsla(0, 0%, 10%, 1);
$white: hsla(0, 0%, 95%, 1);
$blue: hsla(207, 73%, 57%, 1);
$grey: hsla(0, 0%, 83%, 1);
$shadow1: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
$shadow2: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
